@import "../../vars.scss";

.contact-form {
    width: 100%;
    margin: auto;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

 
  
  .contact-form input, 
  .contact-form textarea {
    font-size: $fs-400;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid $color-secondary;
    resize: vertical;
  }

  .contact-form label{
    font-size: $fs-400;
  }
  
  .form-button-container{
    display: flex;
    justify-content: end;
  }
  
  .form-button-container button {
    text-decoration: none;
    color: $color-text-light;
    font-size: $fs-500;
    padding: 16px 32px;
    border: 1px solid $color-text-light;
    margin-top: 40px;
    cursor: pointer;
    background: none;

    appearance: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    opacity: 1;
    outline: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;

    &:before {
      animation: opacityFallbackOut .5s step-end forwards;
      backface-visibility: hidden;
      background-color: $color-text-light;
      clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateZ(0);
      transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
      width: 100%;
    }

    &:hover{
      color: $color-primary;
    }
    
    &:hover:before {
      animation: opacityFallbackIn 0s step-start forwards;
      clip-path: polygon(-1% 0, 101% -1%, 101% 101%, -1% 101%);
    }
    
    &:after {
      background-color: $color-text-light;
    }
    
    & span {
      z-index: 1;
      position: relative;
    }
  }

  .contact-links-wrapper{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

@media screen and (min-width: 568px) {
  .form-semicolumn{
    display: flex;
    gap: 1rem;
    & div{
      width: 100%;
    }
  }
}