@import "../../vars.scss";

.contact-form {
    width: 400px;
    margin: auto;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .contact-form input, 
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #45a049;
  }