@import "../../vars.scss";

.contact {
    padding: 5%;
    background: $color-primary;
    color: $color-text-light;

    &-container {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        height: 100%;
        max-width: 724px;
        margin: 0 auto;
    }

    &-title {
        font-family: $font-title;
        letter-spacing: 3px;
        font-size: $fs-800;
        margin-block: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .contact{
        height: 100vh;
    }
}