// Colours
$color-text-dark: #1C1212;
$color-text-light: #FFFFFF;
$color-primary: #210949;
$color-secondary: #763ADD;
$color-bg: #FFFFFF;

// Fonts
$font-tittle: 'Coolvetica', sans-serif;
$font-text: 'Helvetica Neue', sans-serif;